{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load simple_viewset_tags %}

{% block breadcrumbs %}
    <nav>
        <ol class="breadcrumb">
            {% if parent %}
                <li class="breadcrumb-item"><a href="{% url parent|meta:"model"|url_name:"list" %}">{{ parent|meta:"model"|meta:"verbose_name_plural"|capfirst }}</a></li>
                <li class="breadcrumb-item"><a href="{% url parent|meta:"model"|url_name:"detail" parent.id %}">{{ parent }}</a></li>
                <li class="breadcrumb-item"><a href="{% url view.model|url_name:"list" parent.id %}">{{ view.model|meta:"verbose_name_plural"|capfirst }}</a></li>
            {% else %}
                <li class="breadcrumb-item"><a href="{% url view.model|url_name:"list" %}">{{ view.model|meta:"verbose_name_plural"|capfirst }}</a></li>
            {% endif %}
            <li class="breadcrumb-item"><a href="{% url view.model|url_name:"detail" pk=object.id %}">{{ object }}</a></li>
            <li class="breadcrumb-item active">Delete</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block content %}
    <div class="padding p-t-n">
        <form method="post" role="form" enctype="multipart/form-data">
            {% csrf_token %}

            <p>Delete <strong>{{ object }}</strong>?</p>

            <button type="submit" class="btn btn-danger">Confirm</button>
            <a href="{% url view.model|url_name:"detail" pk=object.id %}" class="btn btn-secondary">Cancel</a>

        </form>
    </div>
{% endblock content %}
