{% extends "base.html" %}
{% load simple_viewset_tags %}

{% block breadcrumbs %}
    <nav>
        <ol class="breadcrumb">
            {% if parent %}
                <li class="breadcrumb-item"><a href="{% url parent|meta:"model"|url_name:"list" %}">{{ parent|meta:"model"|meta:"verbose_name_plural"|capfirst }}</a></li>
                <li class="breadcrumb-item"><a href="{% url parent|meta:"model"|url_name:"detail" parent.id %}">{{ parent }}</a></li>
                <li class="breadcrumb-item"><a href="{% url view.model|url_name:"list" parent.id %}">{{ view.model|meta:"verbose_name_plural"|capfirst }}</a></li>
            {% else %}
                <li class="breadcrumb-item"><a href="{% url view.model|url_name:"list" %}">{{ view.model|meta:"verbose_name_plural"|capfirst }}</a></li>
            {% endif %}
            <li class="breadcrumb-item active">{{ object }}</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block content %}
    <div class="row">
        {% for field, value in object|fields %}
            <div class="col-sm-4">
                <small class="text-muted">{{ field.verbose_name|capfirst }}</small>
                <p>{{ value }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col">
            <a href="{% url view.model|url_name:"update" pk=object.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url view.model|url_name:"delete" pk=object.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
{% endblock content %}
