{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load simple_viewset_tags %}

{% block breadcrumbs %}
    <nav>
        <ol class="breadcrumb">
            {% if parent %}
                <li class="breadcrumb-item"><a href="{% url parent|meta:"model"|url_name:"list" %}">{{ parent|meta:"model"|meta:"verbose_name_plural"|capfirst }}</a></li>
                <li class="breadcrumb-item"><a href="{% url parent|meta:"model"|url_name:"detail" parent.id %}">{{ parent }}</a></li>
                <li class="breadcrumb-item"><a href="{% url view.model|url_name:"list" parent.id %}">{{ view.model|meta:"verbose_name_plural"|capfirst }}</a></li>
            {% else %}
                <li class="breadcrumb-item"><a href="{% url view.model|url_name:"list" %}">{{ view.model|meta:"verbose_name_plural"|capfirst }}</a></li>
            {% endif %}

            {% if object.id %}
                <li class="breadcrumb-item"><a href="{% url view.model|url_name:"detail" pk=object.id %}">{{ object }}</a></li>
                <li class="breadcrumb-item active">Edit</li>
            {% else %}
                <li class="breadcrumb-item active">Add</li>
            {% endif %}
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block content %}
    <form method="post" role="form" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form | crispy }}

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
            {% if object.id %}
                <a href="{% url view.model|url_name:"detail" pk=object.id %}" class="btn btn-secondary">Cancel</a>
            {% else %}
                {% if parent %}
                    <a href="{% url view.model|url_name:"list" parent.id %}" class="btn btn-secondary">Cancel</a>
                {% else %}
                    <a href="{% url view.model|url_name:"list" %}" class="btn btn-secondary">Cancel</a>
                {% endif %}
            {% endif %}
        </div>
    </form>
{% endblock content %}
