{% extends "base.html" %}
{% load simple_viewset_tags %}

{% block breadcrumbs %}
    <nav>
        <ol class="breadcrumb">
            {% if parent %}
                <li class="breadcrumb-item"><a href="{% url parent|meta:"model"|url_name:"list" %}">{{ parent|meta:"model"|meta:"verbose_name_plural"|capfirst }}</a></li>
                <li class="breadcrumb-item"><a href="{% url parent|meta:"model"|url_name:"detail" parent.id %}">{{ parent }}</a></li>
            {% endif %}
            <li class="breadcrumb-item active">{{ view.model|meta:"verbose_name_plural"|capfirst }}</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block content %}
    <p>
        {% if parent %}
            <a href="{% url view.model|url_name:"add" parent.id %}" class="btn btn-primary">Add</a>
        {% else %}
            <a href="{% url view.model|url_name:"add" %}" class="btn btn-primary">Add</a>
        {% endif %}
    </p>

    <div class="list-group">
        {% for object in object_list %}
            <a href="{% url view.model|url_name:"detail" pk=object.id %}" class="list-group-item list-group-item-action">{{ object }}</a>
        {% endfor %}
    </div>
{% endblock content %}
