{% extends "base.html" %}
{% load simple_viewset_tags %}

{% block breadcrumbs %}
    <nav>
        <ol class="breadcrumb">
            {% if parent %}
                <li class="breadcrumb-item"><a href="{% url parent|meta:"model"|url_name:"list" %}">{{ parent|meta:"model"|meta:"verbose_name_plural"|capfirst }}</a></li>
                <li class="breadcrumb-item"><a href="{% url parent|meta:"model"|url_name:"detail" parent.id %}">{{ parent }}</a></li>
            {% endif %}
            <li class="breadcrumb-item active">{{ view.model|meta:"verbose_name_plural"|capfirst }}</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block content %}
    <p>
        {% if parent %}
            <a href="{% url view.model|url_name:"add" parent.id %}" class="btn btn-primary">Add</a>
        {% else %}
            <a href="{% url view.model|url_name:"add" %}" class="btn btn-primary">Add</a>
        {% endif %}
    </p>

    <table class="table">
        <thead>
            <tr>
                {% for field in view.model|meta:"fields" %}
                    {% if list_display %}
                        {% if field.name in list_display %}
                            <th>{{ field.verbose_name|capfirst }}</th>
                        {% endif %}
                    {% else %}
                        <th>{{ field.verbose_name|capfirst }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for object in object_list %}
                <tr>
                    {% for field, value in object|fields %}
                        {% if list_display %}
                            {% if field.name in list_display %}
                                <td><a href="{% url view.model|url_name:"detail" pk=object.id %}">{{ value }}</a></td>
                            {% endif %}
                        {% else %}
                            <td><a href="{% url view.model|url_name:"detail" pk=object.id %}">{{ value }}</a></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
