{% extends "simple_viewset/detail.html" %}

{% block content %}
    <div class="row">
        <div class="col"><a href="{% url "task_list" project=object.id %}" class="btn btn-info">Tasks</a></div>
    </div>
    {{ block.super }}
{% endblock content %}
